/* several different options here for fonts, set '$font-family' to whichever you prefer */

$font-family-neutral: "Oxygen", sans-serif;
$font-family-fancy: "Sansita Swashed", cursive;
$font-family-futuristic: "Orbitron", sans-serif;

@import url(//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember);
@font-face {
  font-family: "Amazon Ember";
  src: url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.eot");
  src: url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.svg#Amazon Ember")
      format("svg");
}

$font-family-amazon: "Amazon Ember";

$font-family: $font-family-amazon;

$text-color-final: #29b6f6;
$logo-height: 2.7em;
$border-radius: $logo-height/2;
$text-font-size: $logo-height - 1.2em;
$background-color: whiteSmoke;
$animation-duration: 3s;
$text-animation-duration: $animation-duration + 0.5;
$animation-iterations: 1;

body {
  /*dark background to show size of the logo*/
}

#logo {
  height: contain;
  height: $logo-height;
  width: contain;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-color: $background-color;
}

#logo-img {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  animation-name: logo-img-animation;
  animation-duration: $animation-duration;
  animation-iteration-count: $animation-iterations;
  animation-fill-mode: forwards;
}

@media (max-width: 600px) {
  #logo-img {
    height: 90%;
  }
}

@keyframes logo-img-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

#logo-text {
  /*change font-size value for final product*/
  font-size: $text-font-size;
  color: black;
  font-family: $font-family;
  display: inline-block;
  vertical-align: middle;
  animation-name: logo-text-animation;
  animation-duration: $text-animation-duration;
  animation-iteration-count: $animation-iterations;
  animation-fill-mode: forwards;
  opacity: 1;
}

#logo-text >*:not(:last-child){
  margin-right: 0.5rem;
}

@media (max-width: 600px) {
  #logo-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 450px) {
  #logo-text {
    line-height: 100%;
    font-size: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  #logo-text >*:not(:last-child){
    margin-right: 0;
  }
}

@keyframes logo-text-animation {
  0% {
    color: black;
  }
  80% {
    color: black;
  }
  100% {
	  color: $text-color-final;
  }
}

#covering {
  height: 100%;
  width: 100%; 
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $background-color;
  animation-name: covering-animation;
  animation-duration: $animation-duration;
  animation-iteration-count: $animation-iterations;
  animation-fill-mode: forwards;
}

@keyframes covering-animation {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

#logoimgbox {
  width: $logo-height;
  height: 100%;
  display: flex;
  position: relative;
  top: 0;
  left: 100%;
  z-index: 1;
  align-items: center;
  background-color: $background-color;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  animation-name: logoimgbox-animation;
  animation-duration: $animation-duration;
  animation-iteration-count: $animation-iterations;
  animation-fill-mode: forwards;
}
@keyframes logoimgbox-animation {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

//profile page style
.profile-home-btn {
   background-color: white;
   text-align: center;
   margin-top: 30px;
}
.profile {
  box-sizing: border-box;
  text-decoration: none;
  background-color: white;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.profile-card {
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

.profile-header {
  background: #2c3a47;
  padding: 60px 40px;
}
.profile-pic {
  display: inline-block;
  padding: 8px;
  background: linear-gradient(130deg,#74b9ff,#e66767);
  margin: auto;
  border-radius: 50px;
  background-size: 200% 200%;
  animation: animated-gradient 2s linear infinite;
}
@keyframes animated-gradient {
  25%{
    background-position: left bottom;
  }
  50%{
    background-position: right bottom;
  }
  75%{
    background-position: right top;
  }
  100%{
    background-position: left top;
  }
}
.profile-pic img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name {
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 600;
  margin:10px 0;
}
.role {
  font-size: 18px;
  color: #6b72dd;
}
.social-links {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.social-links a{
  color: #f2f2f2;
  width: 56px;
  font-size: 22px;
  transition: .3s linear;
}
.social-links a:hover {
  color: #6b72dd;
}
.contact-btn {
  text-decoration: none;
  display: inline-block;
  padding: 12px 50px;
  color: #6b72dd;
  border: 2px solid #6b72dd;
  border-radius: 6px;
  margin-top: 16px; 
  transition: .3s linear;
}
.contact-btn:hover {
  color: white;
  background-color: #6b72dd;
}